.reference{
    display: none;
}
.reference~ .story{
    display: none;
}
.reference + label{
    font-size: 16px;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
.reference:checked ~ .story{
    display: block;
    background: snow;
    padding: 10px;
}
.spravca{
    position: relative;    
}